doctype html
html
	head
		meta(charset='utf-8')
		title Nodemon rules
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/main.css')
	body
		p Ya iniciaste sesion 
